# enable aliases to be sudo'ed
alias sudo='sudo '

# list all items, but list directories first
alias lsdf="ls -la --group-directories-first"

# easier navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~"
alias -- -="cd -"

# ls color
alias ls='ls --color=autor'
