# make vim the default editor
export EDITOR='vim';

# prefer US english and use utf-8
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# highlight section titles in man pages
export LESS_TERMCAP_md="${green}";

# export go paths
export GOPATH=$HOME/go
export GOBIN=$GOPATH/bin
export PATH=$GOROOT/bin:$GOPATH/bin:$PATH
